html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: rgb(252,70,107);
background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
    /* background-image: linear-gradient(to right, #fdefff, #f9dafe, #f4c5fd, #eeb0fb, #e79bfa, #e69cfa, #e69cfb, #e59dfb, #ebb3fd, #f0c8fe, #f6ddff, #fbf1ff); */
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* TableRow */
.MuiTableRow-root{
  background: rgba(255,255,255,0.4)
}

.MuiTableRow-hover:hover {
  background: rgba(200,200,200,0.4) !important; 
}

.MuiTableHead-root{
  background: rgba(180,180,180,0.4);
  font-size: medium;
  fill-opacity: calc(0.8 - 0.4);
}

.MuiTablePagination-root{
  background: rgba(180,180,180,0.4) !important;
  font-size: 1.1rem !important;
  padding: 10px !important;
}

.MuiTableCell-sizeMedium{
  font-size: 1.1rem !important;
  padding: 22px !important;
}
.MuiTablePagination-selectLabel{
  font-size: 1.1rem !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.MuiInputBase-root-MuiTablePagination-select{
  font-size: 1.1rem !important;
  margin: auto !important;
  margin-right: 5px !important;
}
.MuiTablePagination-displayedRows{
  font-size: 1.1rem !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

/* Navbar */
.navbar{
  background: rgba(221, 211, 211, 0.4);
  font-size: 1.1rem;
  padding: 10px !important;
}

/* .navbar-brand{
  font-size: 1.5rem;
  font: bolder;
} */
.navbar-brand{
  font-size: 22px;
  color: rgb(0, 0, 0);
}

.navbar-collapse{
  color: blue;
  font: 100% sans-serif;
  padding: 0.5em;
  float: right;
}
.navbar-nav {
  float: left;
}
.navbar-nav li {
  display: inline-block;
}
.navbar-nav li:hover .dropdown-menu {
  padding: 0.5em;
  display: block;
  background: rgba(255,255,255,0.4);
  margin-right: 0.5em;
}
.dropdown-menu {
  padding: 0.5em;
  display: none;
  background: rgba(255,255,255,0.4);
  border-radius: 0.5em;

}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-100deg);
  background: rgba(180,180,180,0.4);
}

/* .MuiButton-root{
  color: #FFFFFF !important;
  background: rgba(255,255,255,0.4) !important;
  border: 0.2px solid rgba(255,255,255,0.4) !important;
  size: 10cm;
}

.MuiStack-root{
  background: rgba(255,255,255,0.4);
  padding-block-start: 10% !important;
} */