.navbar .bgLight {
    background: rgba(255,255,255,0.4);
    color: blue;
    font: 100% sans-serif;
    padding: 0.5em;
}
/* .navbar {
    width: 100%;
    max-width: 100%;
    min-height: 6vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 67, 67) !important;
    transition: all 0.2s ease;
}
.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    transition: all 0.2s ease;
}
.navbar .navbar-brand:hover {
    color: #fff;
}
.navigation ul {
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    min-height: 6vh;
    justify-content: flex-end;
    align-items: center;
}
.navigation ul li {
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
}
.navigation ul li:hover {
    background-color: plum;
    color: white;
}
.navigation ul li a {
    text-decoration: none;
    color: inherit;
} */
